<div>
<p>Risk factors for AML can include:</p>
<ul class="accordion-icon-list">
<li><picture><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/smoking.svg" alt="Cigarette icon"></picture><span>Smoking</span></li>
<li><picture><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/genetics.svg" alt="DNA strand icon"></picture><span>Certain genetic syndromes</span></li>
<li><picture><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/radiation.svg" alt="Radiation icon"></picture><span>Radiation exposure</span></li>
<li><picture><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/chemical-exposure.svg" alt="Warning icon"></picture><span>Exposure to certain chemicals</span></li>
<li><picture><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/treatment-chemotherapy-drugs.svg" alt="IV bag and pills icon"></picture><span>Treatment with certain chemotherapy drugs</span></li>
<li><picture><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/red-cell.svg" alt="Blood cells icon"></picture><span>Certain blood disorders</span></li>
<li><picture><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/family-history.svg" alt="Family icon"></picture><span>Genetics/family history</span></li>
</ul>
</div>
