<div>
  <h2>You are leaving an AbbVie hosted website.</h2>
  <p>You are leaving the AbbVie website and connecting to a site that is not under the control of AbbVie. AbbVie is not responsible for the content of any such site or any further links from such site. AbbVie is providing these links to you only as a convenience and the inclusion of any link does not imply the endorsement of the linked site by AbbVie. You should also be aware that the linked site may be governed by its own set of terms and conditions and privacy policy for which AbbVie has no responsibility.</p>
  <p>Conversely, the presence of this link does not imply the linked site's endorsement of AbbVie.</p>
  <p>Do you wish to leave this site?</p>
  <p><a href="#">No</a> <a href="https://www.gene.com/" target="_blank" rel="noopener noreferrer">Yes</a></p>
  <p>US-VEN-220153 - WoL</p>
</div>
