@import url('../info-tree.css');

/* Rinvoq info-tree overrides */
.info-tree {
  --info-tree-bg: #f4f4f4;
  --info-tree-text: #25282a;
  --info-tree-radio-border: #25282a;
  --info-tree-radio-hover: #25282a;
  --info-tree-radio-fill: #fdd103;
  --info-tree-reset-color: #71002b;
}
