@import '../image-compare.css';

/* SkyriziHCP image-compare overrides */

.image-compare {
  --image-compare-handle-color: #fff;
  --image-compare-tab-bg: transparent;
  --image-compare-tab-border: #071d49;
  --image-compare-tab-color: #071d49;
  --image-compare-tab-active-bg: #071d49;
  --image-compare-tab-active-color: #fff;
  --image-compare-thumb-active-border: #1398d1;
  --image-compare-border-radius: 8px;
  --image-compare-prompt-bg: rgb(0 0 0 / 70%);
  --image-compare-prompt-color: #fff;
}

.image-compare .image-compare-heading {
  color: #1398d1;
}
