@import '../safety-bar.css';

/* Linzess safety bar overrides */
:root {
  --safety-bar-bg: #fff;
  --safety-bar-border: #422e83;
  --safety-bar-fade-color: #fff;
  --safety-bar-toggle-color: #422e83;
}
