<div>
<p>Symptoms of AML are often general and nonspecific, and can include:</p>
<ul class="accordion-icon-list">
<li><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/weight-loss.svg" alt="Scale icon"><span>Weight loss</span></li>
<li><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/fever.svg" alt="Thermometer icon"><span>Fever</span></li>
<li><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/stomach-issue.svg" alt="Stomach icon"><span>Loss of appetite</span></li>
<li><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/fatigue.svg" alt="Tired icon"><span>Fatigue</span></li>
<li><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/night-sweats.svg" alt="Night sweat icon"><span>Night sweats</span></li>
</ul>
<p>It's important to remember that these symptoms may be the result of health-related conditions unrelated to AML. If you are experiencing any of these symptoms, especially for an extended period of time, it's important to see a doctor to be properly treated.</p>
<p>In addition, the crowding out of healthy blood cells in diagnosed AML can lead to:</p>
<ul class="accordion-card-list">
<li><h3>Anemia</h3><p>A condition in which you don't have enough healthy red blood cells to carry sufficient oxygen to the body's tissues. Symptoms can include fatigue or weakness.</p></li>
<li><h3>Neutropenia</h3><p>A condition where you have too few neutrophils, a type of white blood cell that is important for fighting bacterial infections. A common symptom is increased likelihood of infections.</p></li>
<li><h3>Thrombocytopenia</h3><p>A condition in which you have a low blood platelet count. Symptoms can include bruising or excess bleeding.</p></li>
</ul>
<p>If you are experiencing any of these symptoms, especially for an extended period of time, it's important to let your doctor know.</p>
</div>
