<div>
<p>The time between diagnosis and the beginning of treatment can often be brief. After diagnosis, your healthcare provider will perform a series of tests—known as a "workup." These may include:</p>
<ul class="accordion-icon-list">
<li><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/medical-history.svg" alt="Medical files icon"><span>A review of your medical history</span></li>
<li><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/physical-exams.svg" alt="Doctor examining patient icon"><span>Physical exams</span></li>
<li><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/genetic-tests.svg" alt="DNA and lab vial icon"><span>Genetic tests</span></li>
<li><img src="https://www.venclexta.com/content/dam/venclexta/images/icons/blood-tests.svg" alt="Microscope icon"><span>Blood and bone marrow tests</span></li>
</ul>
<p>Treatment for AML varies and is often unique to the individual. Your healthcare provider will recommend treatment based on the results of your workup and your preferences as a patient.</p>
</div>
