@import '../promo-drawer.css';

/* Rinvoq promo-drawer overrides */
.promo-drawer {
  --promo-drawer-color-handle-bg: #90124a;
  --promo-drawer-color-panel-bg: #ffd100;
  --promo-drawer-color-panel-text: #25282a;
  --promo-drawer-color-cta-bg: #90124a;
  --promo-drawer-color-cta-hover: #6d0d37;
  --promo-drawer-color-cta-text: #fff;
}
