@import '../safety-bar.css';

/* Botox safety bar overrides */
:root {
  --safety-bar-bg: #fff;
  --safety-bar-border: #003087;
  --safety-bar-fade-color: #fff;
  --safety-bar-toggle-color: #003087;
}
