@import '../tokens.css';

/* Brand-specific token overrides */

:root {
  /* ---- Formulary Lookup ---- */
  --color-black: #000;
  --color-formulary-submit-bg: rgb(88 166 52);
  --color-formulary-submit-hover: rgb(70 140 40);
  --color-border-input: #aaa;
}
