@import '../safety-bar.css';

/* Skyrizi HCP safety bar overrides */
:root {
  --safety-bar-bg: #fff;
  --safety-bar-border: #005272;
  --safety-bar-fade-color: #fff;
  --safety-bar-toggle-color: #005272;
}
