<div>
  <h2>AASLD/IDSA Guidelines Recommend <strong>Treating All Patients With Acute or Chronic HCV</strong></h2>
  <p><sup>a</sup>Except patients with a short life expectancy that cannot be remediated by HCV treatment, liver transplantation, or another directed therapy.</p>
  <p>AASLD and IDSA have not endorsed, and are not sponsors of, or otherwise affiliated with, MAVYRET or AbbVie Inc.</p>
  <p><strong>Reference</strong></p>
  <ol>
    <li>American Association for the Study of Liver Diseases and the Infectious Diseases Society of America. HCV guidance: recommendations for testing, managing, and treating hepatitis C. HCV guidance website. Updated December 19, 2023. Accessed July 2, 2025. https://www.hcvguidelines.org</li>
  </ol>
</div>
