<div>
  <h2>You are leaving MAVYRET.com/hcp</h2>
  <p>You are leaving an AbbVie website and connecting to a site that is not under the control of AbbVie. AbbVie is not responsible for the contents of any such site or any further links from such site. AbbVie is providing these links to you only as a convenience and the inclusion of any link does not imply the endorsement of the linked site by AbbVie.</p>
  <p>Do you wish to leave this site?</p>
  <p><a href="#">No</a> <a href="https://www.abbviemedinfo.com/" target="_blank" rel="noopener noreferrer">Yes</a></p>
</div>
