@import '../safety-bar.css';

/* Rinvoq safety bar overrides */
:root {
  --safety-bar-bg: #fff;
  --safety-bar-border: #5c1325;
  --safety-bar-fade-color: #fff;
  --safety-bar-toggle-color: #5c1325;
}
