@font-face {
  font-family: "abbv-iconFont";
  src: url("/fonts/skyrizi-hcp/abbv_iconFont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Univers Regular";
  font-weight: 400;
  src: url("/fonts/skyrizi-hcp/Univers-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Univers Bold";
  font-weight: 700;
  src: url("/fonts/skyrizi-hcp/Univers-Bold.woff2") format("woff2");
  font-display: swap;
}

sup {
  font-size: clamp(.7rem, 50%, 2rem);
  line-height: 1em;
}

.cards-grid-section {
  background: #d1f1fc;
}

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  background: #d1f1fc;
}

.card-grid-item {
  margin: 24px 32px 24px 36px;
}

.card-grid-item p {
  margin: 0;
}

.card-grid-item p a {
  position: relative;
  display: block;
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  color: #193052;
  text-decoration: none;
  font-family: 'Univers LT W01_57 Condensed', 'Arial Narrow', sans-serif;
}

.card-grid-item p a::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, #00a7df 0%, #004c97 88%);
  border-radius: 0 0 8px 8px;
  content: "";
}

.card-grid-item p a > span {
  display: block;
  line-height: 1;
}

.card-grid-item-line-1 {
  font-family: 'Univers LT W01_57 Condensed', 'Arial Narrow', sans-serif;
  font-weight: 700;
  font-size: 2.375rem;
}

.card-grid-item-line-1::after {
  margin-top: 4px;
  margin-left: 24px;
  background-color: #1ba2da;
  border-radius: 50%;
  color: #fff;
  font-size: 1.5rem;
  vertical-align: top;
}

.card-grid-item-line-2 {
  font-family: "Univers Bold", "Univers Regular", Arial, sans-serif;
  font-weight: 600;
}

.card-grid-item-line-3 {
  margin-bottom: 24px;
  font-weight: 400;
}

.card-grid-item-line-4 {
  font-family: "Univers Bold", "Univers Regular", Arial, sans-serif;
  font-weight: 700;
}

.card-grid-item-risa-pri {
  color: #1ba2da;
}

.card-grid-item-richtext {
  margin: 24px 32px 24px 36px;
}

.cards-grid .card-grid-item {
  transition: transform 0.3s ease;
}

@media only screen and (min-width: 896px) {
  .cards-grid .card-grid-item:hover {
    transform: scale(1.15);
  }
}

@media only screen and (max-width: 896px) {
  .cards-grid .card-grid-item:hover {
    transform: scale(1.05);
  }
}

.i-b:before,
.i-a:after {
  font-family: 'abbv-iconFont', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.abbv-icon-keyboard_arrow_right.i-b:before,
.abbv-icon-keyboard_arrow_right.i-a:after {
  content: '\e315';
}

