<div>
  <h2>US Healthcare Professionals Only</h2>
  <p>You are about to enter a site that is for US healthcare professionals only. By continuing, you certify that you are a healthcare professional and that you wish to proceed to the healthcare professionals section of this site. Products or treatments described on this site are available in the US but may not be available in all other countries.</p>
  <p>I am a licensed healthcare professional and wish to proceed to the healthcare professionals section of this site.</p>
  <p><a href="https://www.rinvoqhcp.com/" target="_blank" rel="noopener noreferrer">Yes</a> <a href="#">No</a></p>
  <p>US-RNQ-220499</p>
</div>
