@import '../find-provider.css';

.find-provider {
--link-color: #005272;
}

/* Venclexta find-provider overrides */
.find-provider {
    max-width: 1114px;
    margin-inline: auto;
    padding: 0px;
    font-size: 16px;
    border-radius: 10px;
    background: #f2f2f2;
}

.find-provider .find-provider-form {
    gap: 20px;
}

.find-provider .find-provider-search-input {
    border: 3px solid #f6c741;
    background-color: #fff;
    padding: 12px 35px 12px 15px;
    border-radius: 2px;
    font-size: 15px;
    max-width: 206px;
}

.find-provider .find-provider-terms-checkbox {
    border: 3px solid #f6c741;
    background-color: #071d49;
    box-shadow: 0 0 4px rgba(204, 204, 204, 1);
    height: 40px;
    width: 40px;
}

.find-provider .find-provider-terms-label {
    display: flex;
    align-items: center;
}

.find-provider .find-provider-terms-text p,
.find-provider .find-provider-terms-text p a{
    font-size: 14px;
    max-width: 42ch;
    line-height: 1;
}

.find-provider .find-provider-submit {
    border-radius: 10px;
    border: solid 2px #404040;
    height: 50px;
    padding: 0;
    width: 150px;
    background: #fff;
    color: #444;
    text-align: center;
    font-size: 17px;
    margin: 0;
    font-weight: bold;
}

.find-provider .find-provider-captcha-message p {
    text-align: left;
}

@media (width >=744px) {
    .find-provider {
        padding: 30px;
    }
}