@import '../safety-bar.css';

/* AbbVie safety bar overrides */
:root {
  --safety-bar-bg: #fff;
  --safety-bar-border: #071d49;
  --safety-bar-fade-color: #fff;
  --safety-bar-toggle-color: #071d49;
}
